<!DOCTYPE html>
<html>
<head>
  <title>Cunobo Journals</title>
  <%= csrf_meta_tags %>
</head>
<body id="body">

<%= yield %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
